* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	display: grid;
	grid-template:
		"search" minmax(300px, 50vh)
		"results" minmax(20%, auto)
		/ 1fr;
	margin: 0;
	font: 24px/1.5 system-ui, sans-serif;
}

